*
{
    margin:0px;
    padding:0px;
}
#rectangle
{
    height:500px;
    width:400px;
    background-color: lightcoral;
    padding-left:100px;
}
h1
{
    padding-top:100px;
    font-size:xx-large;
    font-weight: bold;
    padding-bottom:20px;
}
h2
{
 padding-top:100px;  
 padding-left: 50px;
 font-size:xx-large;
 font-weight: bolder;
 color:whitesmoke;
}
button
{
    border:none;
    border-radius:24px;
    background-color:gold;
    width: 80px;
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    font-weight: bold;
}
.containers
{
    display:block;
}
.rectangles
{
    height:500px;
    width:400px;
    margin-left:400px;
    margin-right:100px;
    margin-top:-500px;
    background-color: lightgreen;
}
#signup
{
    border:none;
    border-radius:24px;
    margin-left:30px;
    background-color:gold;
    width: 90px;
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    font-weight: bold;
}

